 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 html,
 body {
    height: 100%;
    width: 100%;
 }

 *::selection {
    background-color: #E6FDF4;
    color: #00EB8F;
 }

 #main {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 99;
 }

 #nav>h1 {
    font-size: 32px;
    font-weight: 100;
 }

 #nav #part2 {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #nav #part2 a {
    text-decoration: none;
    color: #222;
    margin: 20px 20px;
 }

 #nav #part2 a:nth-last-child(1) {

    padding: 9px 20px;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
 }

 #nav #part2 a:nth-last-child(1) #green {
    width: 100%;
    height: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 0.4s ease;
 }

 #nav #part2 a:nth-last-child(1):hover #green {
    left: 0;

 }

 #nav #part2 a:nth-last-child(1) a {
    font-weight: 100;
    position: relative;
    z-index: 1;
 }

 #main>h1 {
    font-size: 4.5vw;
    font-weight: 100;
    text-transform: uppercase;
    width: 60%;
    text-align: center;
    position: relative;
    z-index: 99;
 }

 #main>h1::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
 }

 #main #img1 {
    height: 500px;
    width: 350px;
    left: 7%;
    top: 20%;
    position: absolute;

 }

 #main #img2 {
    height: 260px;
    width: 250px;
    left: 57%;
    top: 18%;
    position: absolute;

 }

 #main #img3 {
    height: 250px;
    width: 240px;
    right: 9%;
    position: absolute;
    bottom: 8%;

 }

 #section-2 {
    width: 100%;
    height: 450px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 #section-2>h1 {
    color: #fff;
    width: 50%;
    line-height: 50px;
    font-size: 39px;
    text-align: center;
 }

 #section-2>h1 span {
    border: 4px solid #00EB8F;
    padding: 8px;
    border-radius: 40%;
 }

 #heading {
    width: 50%;
    height: 70px;
    margin-top: -90px 0;
    display: flex;
    align-items: start;
    justify-content: center;
   

 }

 #heading #point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 20px;
    background-color: #00EB8F;
 }

 #heading>h3 {
    color: #fff;
    
 }

 #section-2>a {
    margin-top: 45px;
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
 }

 #section-3 {

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
 }

 #section-3 #image-section {
    width: 80%;
    height: auto;
 }


 #section-3 #image1 {
    width: 15%;
    height: 600px;
    position: absolute;
 }

 #section-3 #image2 {
    position: absolute;
    width: 30%;
    height: 280px;
    left: 20%;

 }

 #section-3 #image3 {
    position: absolute;
    margin-left: 19.9%;
    width: 38%;
    height: 600px;
    margin-top: 20%;

 }

 #section-3 #image4 {
    position: absolute;
    width: 12%;
    height: 250px;
    margin-top: 42%;
 }

 #section-3 #content-section {
    width: 80%;
    margin-left: 20%;
    padding: 30px;
 }

 #content-section {
    margin-top: 25%;
    width: 100%;
    margin-left: 30%;
 }

 #content-section>h1 {
    font-size: 50px;
    line-height: 65px;
    font-weight: 100;
 }

 #content-section>p {
    margin-top: 18px;
    width: 95%;
    line-height: 40px;
    font-size: 18px;
 }

 #img-content {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
 }

 #img-content>img {
    width: 60px;
    height: 60px;
    border-radius: 50%;

 }

 #img-content span {
    margin-left: 20px;
    font-size: 22px;
 }

 #img-content #btn1 {
    padding: 9px 20px;
    border-radius: 50px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
 }

 #img-content #btn1 i {
    margin-left: 15px;
    font-size: 18px;
    
 }

 #section-4 {
    height: auto;
    width: 90%;
    margin: auto;
    margin-top: 18%;
 }

 #section-4 #heading {
    height: 200px;
    width: 43%;
    margin: auto;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    line-height: 2;
 }

 #image-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
 }

 #image-section #box {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

 }

 #image-section #box img {
    width: 100%;
    object-fit: cover;

 }

 #image-section #box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
 }

 #section-5 {
   width: 100%;
   height: 480px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   z-index: -1;
   /* background-color: rgba(66, 65, 65, 0.39); */
}

#img-left {
   width: 45%;
   height: 100%;
   margin: auto;
   background-image: url('https://images.wallpaperscraft.com/image/single/golf_ball_hand_183271_1920x1080.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#img-right {
   width: 45%;
   height: 100%;
   margin: auto;
   background-image: url('https://images.unsplash.com/photo-1456735190827-d1262f71b8a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3RhdGlvbmVyeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative; 
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#img-left::before,
#img-right::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   cursor: pointer;
  
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}


#img-left img,
#img-right img {
   width: 160px;
   height: 60px;
   padding: 12px;
   object-fit: cover;
   

  
   
}

#img-left, #img-right h3{
   color: #fff;
   font-size: 35px;
   margin-bottom: 30px;
   margin-left: 40px;
}

 #img-right a{
   color: #fff;
   text-decoration: none;
   font-size: 20px;
   cursor: pointer;
   font-weight: 700;
   margin-left: 40px;
  
}
#link{
   color: #fff;
   text-decoration: none;
   font-size: 20px;
   margin-top: 30px;
   cursor: pointer;
   font-weight: 700;
}

#img-left #link i{
   height: 30px;
   width: 60px;
   border: 1px solid;
   border-radius: 42%;
   margin-left:30px ;
   text-align: center;
   cursor: pointer;

   
   
}


#img-right a i{
   height: 30px;
   width: 60px;
   border: 1px solid;
   border-radius: 42%;
   margin-left:30px ;
   text-align: center;
   cursor: pointer;
   
   
}

#img-left,#img-right{
   scale: 1.2;
   transition: all 1s;
}



 

#img-content1 {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

#img-content1>img {
   width: 60px;
   height: 60px;
   border-radius: 50%;

}

#img-content1 span {
   margin-left: 20px;
   font-size: 22px;
}

#img-content1 #btn1 {
   padding: 9px 20px;
   border-radius: 50px;
   border: 1px solid #000;
   position: relative;
   overflow: hidden;
   margin-left: 20px;
   font-size: 17px;
   background-color: transparent;
   cursor: pointer;
}

#img-content1 #btn1 i {
   margin-left: 15px;
   font-size: 18px;
   
}

#section-6{
   height: 100%;
   width: 100%;
}

.swiper {
   width: 100%;
   height: 500px;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .swiper-slide img {
   display: block;
   width: 150px;
   height: 80px;
   /* object-fit: cover; */
 
   
 }

 .swiper {
   margin-left: auto;
   margin-right: auto;
 }


 .swiper-slide h3 {
   width: 50%;
   font-size: 2.5vw;
   font-weight: 100;
   margin: 30px;
 }

 .swiper-slide h5 {
   position: relative;
   padding: 0 22px;
   font-size: 1.2vw;
   font-weight: 500;
   
 }

 .swiper-slide h5::before{
   content: "";
   position: absolute;
   height: 12px;
   width: 12px;
   border-radius: 50%;
   background-color: #00EB8F;
   left: 0;
   top: 25%;

 }

 .swiper-slide h6 {
   margin: 20px;
   font-size: 1vw;
   font-weight: 500;
   color: rgb(0, 0, 0,0.5);
   
 }


 #footer-section{
   width: 100%;
   height: 500px;
 border-bottom: 1px solid #bbb;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  padding: 30px;
 }
 #footer-section div{
   top: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   flex-direction: column;
    color: #fff;
    width: 300px;
   height: 500px;
 }

 #footer-section div h1{
   font-size: 2.5vw;
 }

 #footer-section div button{
   padding: 9px 20px;
   border-radius: 50px;
  color: #fff;
 border: 1px solid;
   font-size: 17px;
   background-color: transparent;
   cursor: pointer;
 }

 #footer-section div img{
   width: 85px;
   height: 45px;
   object-position: center;
 }

 #footer-section div h3{
   font-weight: 800;
   font-size: 20px;
 }
 #footer-section div h4:hover{
   transition: all  ease 2s;
   border-bottom: 2px solid #02cd7f;
   cursor: pointer;
 }

  #copyright{
   color: #fff;
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: end;
   background-color: #000;
   gap: 30px;
   padding-right: 10px;
 }

 #copyright h6 span{
   font-size: 12px;
   border-bottom:1px solid #bbb;
 }
 #copyright h6:hover{
   transition: all  ease 2s;
   border-bottom: 2px solid #02cd7f;
   cursor: pointer;
 }

 #copyright i{
   font-size: 22px;
   
 }
 #copyright i:hover{
   color: #00EB8F;
 }


 